---
layout: default
title: Resultados de la búsqueda
---

<!-- page-title -->
<section class="section bg-secondary">
  <div class="row">
    <div class="col-lg-12 text-title-left">
      <h4 class="mb-4">{{ page.title | escape }}</h4>
    </div>
  </div>
</section>
<!-- /page-title -->

<!-- search result -->
<section class="section">
  <div class="container maxw">
    <div class="row">
      <div class="col-lg-9 mx-auto">
        <div class="col-lg-12" id="search-results-destacadas"></div>
        <div class="line-break">   </div>
        <ul class="list-unstyled" id="search-results"></ul>
      </div>
      <div class="col-lg-3">
        {% 
					include sidebar.html 
					banner0=site.data.ads.ads_search.sidebar_search-0
					banner1=site.data.ads.ads_search.sidebar_search-1
					banner2=site.data.ads.ads_search.sidebar_search-2
					banner3=site.data.ads.ads_search.sidebar_search-3
					banner4=site.data.ads.ads_search.sidebar_search-4
					banner5=site.data.ads.ads_search.sidebar_search-5
				%}
      </div> 
    </div>
  </div>
</section>
<!-- /search result -->

<script>
  window.store = {
    {% for post in site.posts %}
      "{{ post.url | slugify }}": {
        "title": "{{ post.title | xml_escape }}",
        "author": "{{ post.author | xml_escape }}",
        "category": "{{ post.category | xml_escape }}",
        "content": {{ post.content | strip_html | strip_newlines | jsonify }},
        "url": "{{ post.url | relative_url | xml_escape }}",
        "date": "{{ post.date | date: '%d %b, %Y'}}"
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  };
  window.store_directorio = {
      {% for archivo in site.directorio %}
        "{{ archivo.url | slugify }}": {
          "date": "{{ archivo.date | date: '%d %b, %Y'}}",
          "title": "{{ archivo.title | xml_escape }}",
          "region": "{{ archivo.region | xml_escape }}",
          "state": "{{ archivo.state | xml_escape }}",
          "services": "{{ archivo.services | xml_escape }}",
          "address": "{{ archivo.address | xml_escape }}",
          "types": "{{ archivo.types | xml_escape }}",
          "featured": "{{ archivo.featured | xml_escape }}",
          "image": "{{ archivo.image | xml_escape }}",
          "phone_number": "{{ archivo.phone_number | xml_escape }}",
          "website": "{{ archivo.website | xml_escape }}",
          "email": "{{ archivo.email | xml_escape }}",
          "facebook_user": "{{ archivo.facebook_user | xml_escape }}",
          "twitter_user": "{{ archivo.twitter_user | xml_escape }}",
          "instagram_user": "{{ archivo.instagram_user | xml_escape }}"
        }
        {% unless forloop.last %},{% endunless %}
      {% endfor %}
    };

    var reviews = {
      {% for rev in site.review %}
        "{{ rev.url | slugify }}": {
          "date": "{{ rev.date | date: '%d %b, %Y'}}",
          "title": "{{ rev.title }}",
          "content": {{ rev.content | strip_html | strip_newlines | jsonify }}
        }
        {% unless forloop.last %},{% endunless %}
      {% endfor %}
    };

    var servicios_icons = {{ site.servicios_iconos | jsonify }};

    document.addEventListener('DOMContentLoaded', function() {
    // Verificar si el contenido de search-results está vacío
    var searchResultsElement = document.getElementById('search-results');
    var searchResultsDestacadasElement = document.getElementById('search-results-destacadas');
    if (searchResultsElement.innerHTML.trim() === '' && searchResultsDestacadasElement.innerHTML.trim() === '') {
      // El contenido de search-results está vacío
      searchResultsElement.innerHTML = '<div>No hay resultados de la búsqueda...</div>';
    } 
  });
</script>

