<div class="widget">
    <h6 class="mb-4">DESTACADOS</h6>
    <div id="destacados-container">
    </div>
</div>
  
<script>
    var archivosDestacados = {{ site.directorio | jsonify }};
    var seleccionados = []; 
    for (var i = 0; i < 3; i++) {
        var indiceAleatorio = Math.floor(Math.random() * (archivosDestacados.length - i));
        var archivoAleatorio = archivosDestacados.splice(indiceAleatorio, 1)[0];
        seleccionados.push(archivoAleatorio);
        if (archivoAleatorio.featured == true){
        var elementoDestacado = document.createElement("div");
        elementoDestacado.classList.add("media", "mb-4");
        elementoDestacado.innerHTML = `
        <div class="post-thumb-sm-destacados mr-3">
            <img class="img-fluid" src="${archivoAleatorio.image}" alt="${archivoAleatorio.name}">
        </div>
        <div class="media-body">
            <h5 class="text-dark">${archivoAleatorio.name}</h5>
            <ul class="list-inline justify-content-between mb-2">
            <div class="smaller-font"><i class="fas fa-map-marker-alt"></i>  ${archivoAleatorio.address}</div>
            <div class="smaller-font"><i class="fas fa-bullhorn"></i> ${archivoAleatorio.services}</div>
            <div class="smaller-font"><i class="fas fa-industry"></i> ${archivoAleatorio.sector}</div>
            </ul>
        </div>
        `;
        var destacadosContainer = document.getElementById("destacados-container");
        destacadosContainer.appendChild(elementoDestacado);
        }
        else {
            i = i - 1;
        }
    }
</script>

