{% if post.featured == true %}
<div class="col-lg-6 col-sm-10">
    {% assign iterator = iterator | plus: 1 %}
    {% if post.types contains "Hospedaje" %}
    <div class="card card-separation hotel-band">
    {% elsif post.types contains "Líneas aéreas" %}
    <div class="card card-separation airline-band">
    {% elsif post.types contains "Agencias" %}
    <div class="card card-separation agencies-band">
    {% else %}
    <div class="card card-separation">
    {% endif %}
      <div class="card-body position-card">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#{{include.t1}}-{{iterator}}">General</a>
          </li>
          {% if review %}
          <li class="nav-item"> 
            <a class="nav-link" data-toggle="tab" href="#{{include.tr1}}-{{iterator}}">Reseña</a>
          </li>
          {% endif %}
          <li class="nav-item"> 
            <a class="nav-link" data-toggle="tab" href="#{{include.t2}}-{{iterator}}">Contacto</a>
          </li>
        </ul>
        <div class="tab-content line-break">
          <div class="tab-pane fade show active" id="{{include.t1}}-{{iterator}}">
            <div class="tab-card">
              <div class="tab-pane-card">
                <img src="{{post.image | relative_url}}" alt="{{post.title}}" class="img-card">
              </div>
              <div class="tab-card-1">
                <div> <h5 class="text-dark">{{post.title }}</h5></div>
                {% if post.address %}
                  <div class="smaller-font margin-icon"><i class="fas fa-map-marker-alt"></i> 
                    <span class="margin-icon">{{post.address}}</span>
                  </div>
                {% endif %}
                {% if post.types %}
                  <div class="smaller-font margin-icon"><i class="fas fa-building"></i>
                    {% for type in post.types %}
                      {% assign capitalized = type | capitalize %}
                      <span class="margin-icon">{{ capitalized }}{% unless forloop.last %} -{% endunless %} </span>
                    {% endfor %}
                  </div>
                {% endif %}
                {% if post.services %}
                  <div class="margin-services">
                    <ul class="horizontal-list">
                      {% for servicio in post.services %}
                        {% if site.servicios_iconos[servicio] %}
                          <li>
                            <i class="{{ site.servicios_iconos[servicio] }}" data-toggle="tooltip" data-placement="top" title="{{ servicio }}"></i>
                          </li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          {% if review %}
          <div class="tab-pane fade" id="{{include.tr1}}-{{iterator}}">
            <div class="tab-card">
              <div class="tab-card-1">
                <div>
                  <h5 class="text-dark">{{ review.title }}</h5>
                  {% assign content_without_html = review.content | strip_html %}
                  {% assign truncated_content = content_without_html | truncatewords: 50 %}
                  <p>{{ truncated_content }}</p>
                  <a href="{{ review.url }}">Ver reseña completa</a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          <div class="tab-pane fade" id="{{include.t2}}-{{iterator}}">
            <div class="tab-card">
              <div class="tab-card-1">
                {% if post.phone_number %}
                  <div>
                    <i class="fas fa-phone fa-sm"></i> 
                    <a href="tel:{{post.phone_number}}" class="font-phone-number"> {{post.phone_number}}</a>
                  </div>
                {% endif %}
                {% if post.website %}
                  <div class="smaller-font">
                    <i class="fas fa-globe"></i> 
                    <a href="https://{{post.website}}"> {{post.website}}</a>
                  </div>
                {% endif %}
                {% if post.email %}
                <div class="smaller-font">
                  <i class="fas fa-envelope"></i> 
                  <a href="mailto:{{post.email}}"> {{post.email}}</a>
                </div>
                {% endif %}
                {% if post.facebook_user %}
                  <div class="smaller-font">
                    <i class="fab fa-facebook-square"></i> 
                    <a href="https://www.facebook.com/{{post.facebook_user}}"> {{post.facebook_user}}</a>
                  </div>
                {% endif %}
                {% if post.instagram_user %}
                  <div class="smaller-font">
                    <i class="fab fa-instagram"></i> 
                    <a href="https://instagram.com/{{post.instagram_user}}"> {{post.instagram_user}}</a>
                  </div>
                {% endif %}
                {% if post.twitter_user %}
                  <div class="smaller-font">
                    <i class="fab fa-twitter"></i> 
                    <a href="https://twitter.com/{{post.twitter_user}}"> {{post.twitter_user}}</a>
                  </div>
                {% endif %}
              </div>
              <div>
                <img src="{{post.image | relative_url}}" alt="{{post.title}}" class="img-card-no-destacadas">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endif %}