<div class="row message-center">
    <div class="col-lg-9 message-margin">
        <div class="container maxw message-content">
            <div class="content pl-0">
                <p>
                    <h4>Únete a nuestro grupo de WhatsApp</h4>
                    <br>
                    En nuestro grupo exclusivo, recibirás información sobre destinos increíbles, consejos de viaje, recomendaciones de hoteles y restaurantes, historias de viajeros, promociones especiales y mucho más. Serás el primero en enterarte de nuestros próximos tours y actividades emocionantes.
                    Si eres un amante de los viajes y quieres estar al día con las últimas novedades y oportunidades, ¡no pierdas la oportunidad de unirte a nuestro grupo!
                    <br><br>
                    <div class="button-container">
                        <a class="btn btn-primary" href="https://chat.whatsapp.com/{{ site.whatsapp-group-code }}" target="_blank">Quiero unirme</a>
                        <br><br>
                    </div>
                    Esperamos verte pronto en nuestro grupo de viajes y turismo. <span class="font-weight-bold">¡Explora el mundo con nosotros!</span>
                </p>
            </div>
        </div>
    </div>
</div>