{% 
  include ads/banner.html 
  content=include.banner0
%}
{% assign contendorId = "destacados-container-1"%}
    {% include destacado.html contendorId=contendorId %}
{% 
  include ads/banner.html 
  content=include.banner1
%}
{% include recientes.html %}
{% 
  include ads/banner.html 
  content=include.banner2
%}
{% assign contendorId = "destacados-container-2"%}
    {% include destacado.html contendorId=contendorId %}
{% 
  include ads/banner.html 
  content=include.banner3
%}
{% include secciones.html %}
{% 
  include ads/banner.html 
  content=include.banner4
%}
{% assign contendorId = "destacados-container-3"%}
    {% include destacado.html contendorId=contendorId %}
{% 
  include ads/banner.html 
  content=include.banner5
%}
{% include feed-twitter.html %}