<!--table1-->
<section>
    <div class="container pt-3 pb-3">
        <div class="row">
            <div class="col-lg-10">
                <table class="table table-striped table-bordered">
                    <thead class="custom-table">
                    <tr>
                        <th class="descripcion">Descripción</th>
                        <th class="centered-cell">Mensual</th>
                        <th class="centered-cell">Trimestral</th>
                        <th class="centered-cell">Semestral</th>
                        <th class="centered-cell">Anual</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Directorio (Simple)</td>
                        <td colspan="4" rowspan="1" class="centered-cell">Sin costo</td>
                    </tr>
                    <tr>
                        <td>Noticias / Secciones</td>
                        <td colspan="4" rowspan="1" class="centered-cell">Sin costo</td>
                    </tr>
                    <tr>
                        <td>Directorio</td>
                        <td class="derecha-cell">$10,00</td>
                        <td class="derecha-cell">$25,00</td>
                        <td class="derecha-cell">$55,00</td>
                        <td class="derecha-cell">$100,00</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!--table2-->
<section>
    <div class="container pt-3 pb-3">
        <div class="row">
            <div class="col-lg-10">
                <table class="table table-striped table-bordered">
                    <thead class="custom-table">
                    <tr>
                        <th class="descripcion">Tipo</th>
                        <th>Descripción</th>
                        <th>Costo Mensual</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Podcast</td>
                        <td><li>Participación</li></td>
                        <td class="centered-cell">Sin costo</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><li>Espacios Publicitarios</li><li>Presentación y Despedida</li><li>Comercial de 30″</li></td>
                        <td class="centered-cell"><a href="https://wa.me/{{site.contact.walink}}?text=Hola%2C%20quiero%20consultar%20el%20costo%20de%20los%20PODCAST%20" target="_blank">Consultar</a></td>
                    </tr>
                    <tr>
                        <td>Publireportajes</td>
                        <td><li>Simple (Foto + Nota de Prensa + Entrevista corta)</li></td>
                        <td class="centered-cell"><a href="https://wa.me/{{site.contact.walink}}?text=Hola%2C%20quiero%20consultar%20el%20costo%20de%20los%20publireportajes%20simples" target="_blank">Consultar</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><li>Destacada (Foto - carrusel)</li><li>Entrevista en el sitio</li><li>Publicidad en el Podcast</li></td>
                        <td class="centered-cell"><a href="https://wa.me/{{site.contact.walink}}?text=Hola%2C%20quiero%20consultar%20el%20costo%20de%20los%20publireportajes%20en%20destacadas,%20entrevistas%20y%20publicidad" target="_blank">Consultar</a></td>
                    </tr>
                    <tr>
                        <td>Banners</td>
                        <td><li>Página Principal TOP 1400 x 150 pixels</li></td>
                        <td class="centered-cell"><a href="https://wa.me/{{site.contact.walink}}?text=Hola%2C%20quiero%20consultar%20el%20costo%20del%20Banner%20de%20la%20Página%20Principal" target="_blank">Consultar</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><li>Secciones TOP 1400 x 150 pixels</li></td>
                        <td class="centered-cell"><a href="https://wa.me/{{site.contact.walink}}?text=Hola%2C%20quiero%20consultar%20el%20costo%20del%20Banner%20de%20las%20Secciones%201400x150" target="_blank">Consultar</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><li>Secciones TOP 1400 x 100 pixels</li></td>
                        <td class="centered-cell"><a href="https://wa.me/{{site.contact.walink}}?text=Hola%2C%20quiero%20consultar%20el%20costo%20del%20Banner%20de%20las%20Secciones%201400x100" target="_blank">Consultar</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><li>Laterales Home TOP 300 x 300 pixels</li></td>
                        <td class="centered-cell"><a href="https://wa.me/{{site.contact.walink}}?text=Hola%2C%20quiero%20consultar%20el%20costo%20del%20Banner%20de%20las%20Laterales%20Home" target="_blank">Consultar</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><li>Laterales Secciones TOP 300 x 300 pixels</li></td>
                        <td class="centered-cell"><a href="https://wa.me/{{site.contact.walink}}?text=Hola%2C%20quiero%20consultar%20el%20costo%20del%20Banner%20de%20las%20Laterales%20Secciones" target="_blank">Consultar</a></td>
                    </tr>
                    <tr>
                        <td>Uso Base de Datos</td>
                        <td><li>Por usuario</li></td>
                        <td class="centered-cell"><a href="https://wa.me/{{site.contact.walink}}?text=Hola%2C%20quiero%20consultar%20el%20costo%20del%20Uso%20de%20Base%20de%20Datos" target="_blank">Consultar</a></td>
                    </tr>
                    <tr>
                        <td>Boletín de Noticias</td>
                        <td><li>Por definir</li></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>