/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Project Name
VERSION:	Versoin Number
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/
/*  typography */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Playfair+Display:400,700");
@font-face {
  font-family: 'hanskendrick';
  src: url("../plugins/fonts/hanskendrick-regular-webfont.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

body {
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
  color: #001c27;
}

p, .paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #001c27;
  font-family: "hanskendrick";
  font-weight: 600;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 80px;
}

.custom-form {
  left: 500px;
}

.custom-width-form {
  width: 15%; 
}

/* Button card style */
.btn-card {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  padding: 8px 20px;
  border-radius: 0;
  font-weight: 600;
  border: 1px solid;
  position: relative;
  z-index: 1;
  transition: .2s ease;
}

.share-button {
  position: relative;
  width: 130px;
  height: 40px;
  background-color: transparent; 
  border-radius:  10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.share-button i {
  font-size: 16px; 
  color: #00ccb9;
}
.share-options {
  position: absolute;
  top: 60px;
  left: -6px;
  background-color: #fff;
  border: 1px solid #00ccb9;
  border-radius: 10px;
  padding: 20px;
  display: none;
  min-width: 250px;
  z-index: 1;
}
.share-options::before {
  content: "";
  position: absolute;
  bottom: 96.5%;
  left: 20%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-left: 1px solid #00ccb9;
  border-top: 1px solid #00ccb9;
  transform: rotate(45deg);
  z-index: -1;
}
.share-options ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.share-options li {
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.share-options li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.share-options li a {
  color: #333;
  text-decoration: none;
}
.share-list{
  margin-right: 20px; 
}
.share-margin-icon{
  margin-right: 10px; 
}
.circle-icon {
  display: inline-block;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: transparent; 
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 5px;
  text-align: center;
  line-height: 30px;
  align-items: center;
  justify-content: center;
}
.margin-author-share{
  margin-right: 50px;
}

.margin-volume-left{
  margin-left: 50px;
}

.round-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #00ccb9;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.round-button:hover {
  background-color: #03b6a4;
}

.round-button:focus {
  outline: none;
}

.round-button i {
  color: white;
  font-size: 12px;
}

@media (max-width: 1680px) {
  .round-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #00ccb9;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  .round-button i {
    color: white;
    font-size: 8px;
  }
  .small-text {
    font-size: 12px; 
  }
  .small-input {
    font-size: 12px; 
    padding: 5px; 
  }
  h1, .h1 {
    font-size: 55px;
  }
  .text-change {
    line-height: 1;
    font-size: 15px;
  }
  .card-text {
    line-height: 1;
    font-size: 35px;
  }
  .card-content {
    bottom: 10px !important;
    padding: 40px !important;
  } 
  .card-title {
    font-size: 25px;
    margin-bottom: 25px !important;
  }
  .custom-form {
    left: 500px;
  }
  .custom-width-form {
    width: 20%; 
  }
  /* Button card style */
  .btn-card {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    padding: 8px 20px;
    border-radius: 0;
    font-weight: 600;
    border: 1px solid;
    position: relative;
    z-index: 1;
    transition: .2s ease;
  }
}

@media (max-width: 1200px) {
  h1, .h1 {
    font-size: 55px;
  }
  .text-change {
    line-height: 1;
    font-size: 15px;
  }
  .card-text {
    line-height: 1;
    font-size: 20px;
  }
  .card-content {
    bottom: 30px !important;
    padding: 20px !important;
  } 
  .card-title {
    font-size: 20px;
    margin-bottom: 20px !important;
  }
  .custom-form {
    left: 100px;
  }
  .custom-width-form {
    width: 80%; 
  }
  /* Button card style */
  .btn-card {
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    padding: 8px 18px;
    border-radius: 0;
    font-weight: 600;
    border: 1px solid;
    position: relative;
    z-index: 1;
    transition: .2s ease;
  }
}

@media (max-width: 900px) {
  h1, .h1 {
    font-size: 55px;
  }
  .text-change {
    line-height: 1;
    font-size: 10px;
  }
  .card-text {
    line-height: 1;
    font-size: 18px;
  }
  .card-content {
    bottom: 5px !important;
    padding: 10px !important;
  } 
  .card-title {
    font-size: 15px;
    margin-bottom: 15px !important;
  }
  .custom-width-form {
    width: 80%; 
  }
  .custom-form {
    left: 80px;
  }
  /* Button card style */
  .btn-card {
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    padding: 8px 16px;
    border-radius: 0;
    font-weight: 600;
    border: 1px solid;
    position: relative;
    z-index: 1;
    transition: .2s ease;
  }
}

@media (max-width: 767px) {
  h1, .h1 {
    font-size: 55px;
  }
  .text-change {
    line-height: 1;
    font-size: 10px;
  }
  .card-text {
    line-height: 1;
    font-size: 15px;
  }
  .card-content {
    bottom: 5px !important;
    padding: 10px !important;
  } 
  .card-title {
    font-size: 10px;
    margin-bottom: 10px !important;
  }
  .custom-width-form {
    width: 100%; 
  }
  .custom-form {
    left: 0px;
  }
  /* Button card style */
  .btn-card {
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    padding: 8px 14px;
    border-radius: 0;
    font-weight: 600;
    border: 1px solid;
    position: relative;
    z-index: 1;
    transition: .2s ease;
  }
  .share-button {
    position: relative;
    width: 100px;
    height: 30px;
    background-color: transparent; 
    border-radius:  5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 5px;
  }
  .share-button i {
    font-size: 12px; 
    color: #00ccb9;
  }
  .share-options {
    position: absolute;
    top: 40px;
    left: -80px;
    background-color: #fff;
    border: 1px solid #00ccb9;
    border-radius: 5px;
    padding: 10px;
    display: none;
    min-width: 140px;
    z-index: 1;
  }
  .share-options::before {
    content: "";
    position: absolute;
    bottom: 97.7%;
    left: 80%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-left: 1px solid #00ccb9;
    border-top: 1px solid #00ccb9;
    transform: rotate(45deg);
    z-index: -1;
  }
  .share-options ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .share-options li {
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
  .share-options li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  .share-options li a {
    color: #333;
    text-decoration: none;
  }
  .share-list{
    margin-right: 8px; 
  }
  .share-margin-icon{
    margin-right: 3px; 
  }
  .circle-icon {
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: transparent; 
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 5px;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
  }
  .margin-author-share{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .margin-left-date-share{
    flex-direction: column !important; 
  }
  .margin-columns-volume{
    flex-direction: column !important; 
  }
  .margin-circle{
    margin: 10px 10px !important;
  }
  .center-button-volume{
    margin-bottom: 30px;
  }
}

h2, .h2 {
  font-size: 50px;
}

@media (max-width: 767px) {
  h2, .h2 {
    font-size: 45px;
  }
}

h3, .h3 {
  font-size: 40px;
}

h4, .h4 {
  font-size: 30px;
}

h5, .h5 {
  font-size: 20px;
}

h6, .h6 {
  font-size: 16px;
}

/* Button style */
.btn {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  padding: 8px 20px;
  border-radius: 0;
  font-weight: 600;
  border: 1px solid;
  position: relative;
  z-index: 1;
  transition: .2s ease;
}

.btn-card:focus {
  outline: 0;
  box-shadow: none !important;
}

.btn-card:active {
  box-shadow: none;
}

.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.btn:active {
  box-shadow: none;
}

.btn-primary {
  background: #00ccb9;
  color: #fff;
  border: 0;
}

.btn-primary:active {
  background: #00ccb9 !important;
}

.btn-primary:hover {
  background: #00ffc7;
}

.btn-outline-light {
  background: transparent;
  color: #fff;
}

.btn-outline-light:active {
  background: #fff !important;
  color: #001c27;
  border-color: #fff;
}

.btn-outline-light:hover {
  background: #fff !important;
  color: #001c27;
  border-color: #fff;
}

.btn-transparent {
  color: #00ccb9;
  border: 0;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

::-moz-selection {
  background: #00ffc7;
  color: #fff;
}

::selection {
  background: #00ffc7;
  color: #fff;
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  background: white;
}

.preloader .loader .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #00ccb9;
  border-radius: 50%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: dot 2.8s infinite;
          animation: dot 2.8s infinite;
}

.preloader .loader .dots {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots 2.8s infinite;
          animation: dots 2.8s infinite;
}

.preloader .loader .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #00ccb9;
  border-radius: 50%;
}

@-webkit-keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
            transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
            transform: translateX(96px);
  }
}

@-webkit-keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
            transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
            transform: translateX(-31px);
  }
}

ol,
ul {
  list-style-type: none;
  margin: 0px;
}

#id ul li::before {
  content: "\2022"; /* Código Unicode para el símbolo de viñeta */
  color: #000;; /* Cambia el color a rojo o cualquier otro valor hexadecimal, nombre de color o RGB */
  font-weight: bold; /* Hace que la viñeta sea más gruesa */
  border-radius: 50%; /* Hace que la viñeta tenga forma circular */
  display: inline-block;
  width: 20px; /* Ajusta el ancho de la viñeta según tus preferencias */
  
  font-size: larger; /* Aumenta el tamaño de la fuente para hacerla más grande */ 
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;
}

a:focus,
button:focus,
select:focus {
  outline: 0;
}

a:hover, a.text-dark:hover {
  color: #00ccb9 !important;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 90px;
  padding-bottom: 90px;
}

.section-sm {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-title {
  margin-bottom: 30px;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-fixed {
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.border-primary {
  border-color: #ababab !important;
}

.content img {
  width: 100%;
}

/* overlay */
.overlay {
  position: relative;
}

.overlay::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: .5;
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: #00ccb9 !important;
}

.bg-secondary {
  background: #ffffff !important;
}

.text-primary {
  color: #00ccb9 !important;
}

.text-color {
  color: #585757;
}

.text-dark {
  color: #001c27 !important;
}

.font-secondary {
  font-family: "hanskendrick" !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.zindex-1 {
  z-index: 1;
}

.overflow-hidden {
  overflow: hidden;
}

.form-control {
  border: 0;
  border-bottom: 1px solid #ababab;
  border-radius: 0;
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
  border-color: #00ccb9;
}

textarea.form-control {
  height: 150px;
}

.navigation {
  z-index: 9;
}

.headroom {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  transition: all .4s ease-in-out;
  padding: 10px 40px;
  background-color: #fff;
}

@media (max-width: 575px) {
  .headroom {
    padding: 10px;
  }
}

.headroom--unpinned {
  top: -150px;
}

@media (max-width: 991px) {
  .headroom--unpinned {
    top: 0;
  }
}

.headroom--pinned {
  top: 0;
}

.navbar .nav-item .nav-link {
  padding: 20px 15px;
}

@media (max-width: 991px) {
  .navbar .nav-item .nav-link {
    padding: 10px;
  }
}

.navbar .dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.navbar .dropdown-menu {
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.12);
  padding: 10px;
  border: 0;
  top: 100%;
  left: -10px;
  border-radius: 0;
  display: block;
  visibility: hidden;
  transition: .3s ease;
  opacity: 0;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  background: #fff;
}

@media (max-width: 991px) {
  .navbar .dropdown-menu {
    display: none;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    text-align: center;
  }
}

.navbar .dropdown-menu.show {
  visibility: hidden;
}

@media (max-width: 991px) {
  .navbar .dropdown-menu.show {
    visibility: visible;
    display: block;
  }
}

.navbar .dropdown-item:active {
  color: #fff;
  background-color: #00ccb9;
}

.search-icon {
  border: 0;
  background: transparent;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.card-img-overlay::before {
  position: absolute;
  content: "";
  background: linear-gradient(transparent 40%, rgba(0, 0, 0, 0.5));
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.card-content {
  padding: 30px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
}

.title-border {
  position: relative;
  margin-bottom: 25px;
  padding-bottom: 30px;
}

.title-border::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0px;
  background: #ababab;
}

.title-border-lg {
  position: relative;
}

.title-border-lg::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 300px;
  left: -45px;
  bottom: -50px;
  background: #ababab;
}

@media (max-width: 575px) {
  .pagination {
    overflow: auto;
    white-space: nowrap;
  }
  .pagination::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

.pagination .page-item .page-link {
  font-family: "hanskendrick";
  font-size: 30px;
  border: 0;
  color: #585757;
}

@media (max-width: 767px) {
  .pagination .page-item .page-link {
    font-size: 16px;
  }
}

.pagination .page-item .page-link:hover {
  color: #001c27;
  background-color: transparent;
}

.pagination .page-item:first-child .page-link, .pagination .page-item:last-child .page-link {
  font-size: 16px;
}

.pagination .page-item.active .page-link {
  color: #001c27;
  text-decoration: underline;
  background: transparent;
}

.instagram-post {
  position: relative;
}

.instagram-post::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: .2s ease;
}

.instagram-post ul {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  transition: .2s ease;
}

.instagram-post ul a {
  transition: .2s ease;
  font-size: 20px;
}

.instagram-post ul a:hover {
  color: #00ccb9 !important;
}

.instagram-post:hover::before {
  visibility: visible;
  opacity: 1;
}

.instagram-post:hover ul {
  visibility: visible;
  opacity: 1;
}

/* homepage 2 */
.hero-section {
  padding: 70px 0 0;
  background-image: linear-gradient(#fff 45%, #fdefe6 0);
}

.dividers {
  display: flex;
  align-items: center;
  width: 1200px;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.dividers .divider {
  border-right: 1px solid #edeef0;
  flex-basis: 50%;
  height: 100vh;
  opacity: .6;
}

.dividers .divider:first-child {
  border-left: 1px solid #edeef0;
}

.article-full-width {
  display: flex;
  flex-wrap: nowrap;
}

@media (max-width: 767px) {
  .article-full-width {
    flex-direction: column;
  }
}

.article-full-width .post-image {
  margin-right: 20px;
}

.article-full-width .post-image-boletin {
  margin-right: 20px;
}

@media (max-width: 767px) {
  .article-full-width .post-image {
    margin: 0 0 20px 0;
  }
  .article-full-width .post-image-boletin {
    margin: 0 0 20px 0;
  }
}

.article-full-width .post-image img {
  height: 400px;
  width: auto;
}

.article-full-width .post-image-boletin img {
  height: 300px;
  width: auto;
}

@media (max-width: 767px) {
  .article-full-width .post-image img {
    height: auto;
    width: 100%;
  }

  .article-full-width .post-image-boletin img {
    height: 100%;
    width: 100%;
  }
}

.article-full-width .post-content {
  width: 50%;
}

.article-full-width .post-content-boletin {
  width: 80%;
}

@media (max-width: 767px) {
  .article-full-width .post-content {
    width: 100%;
  }
  .article-full-width .post-content-boletin {
    width: 100%;
  }
}

.article-full-width .post-content .btn {
  padding-left: 0;
}

.article-full-width .post-content-boletin .btn {
  padding-left: 0;
}

.article-full-width .post-meta {
  width: 250px;
}

@media (max-width: 991px) {
  .article-full-width .post-summary {
    display: none;
  }
}

@media (max-width: 767px) {
  .article-full-width .post-summary {
    display: block;
  }
}

.article-full-width.article-right {
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .article-full-width.article-right {
    flex-direction: column-reverse;
  }
}

.article-full-width.article-right .post-image {
  order: 2;
  margin: 0 0 0 20px;
}

.article-full-width.article-right .post-image-boletin {
  order: 2;
  margin: 0 0 0 20px;
}

@media (max-width: 767px) {
  .article-full-width.article-right .post-image {
    margin: 0 0 20px 0;
  }
  .article-full-width.article-right .post-image-boletin {
    margin: 0 0 20px 0;
  }
}

.article-full-width.article-right .post-content {
  order: 1;
}


.article-full-width.article-right .post-meta {
  margin-left: auto;
}

@media (max-width: 767px) {
  .article-full-width.article-right .post-meta {
    margin-left: 0;
  }
}

.article-full-width.article-right .author {
  text-align: right;
}

@media (max-width: 767px) {
  .article-full-width.article-right .author {
    text-align: left;
  }
}

.post-thumb {
  height: 400px;
}

blockquote {
  font-style: italic;
  color: #001c27;
  background: #fdefe6;
  padding: 20px;
  font-weight: 600;
}

.content * {
  margin-bottom: 20px;
}

.widget {
  padding-top: 30px;
  padding-bottom: 0px;
}

.widget:not(:last-child) {
  margin-bottom: 10px;
  /*border-bottom: 1px solid #f4f4f4;*/
}

.search-box {
  position: relative;
}

.search-box i {
  position: absolute;
  left: 0;
  top: 25px;
  color: #767575;
}

.post-thumb-sm {
  max-width: 75px;
  max-height: 75px;
  overflow: hidden;
}

.post-thumb-sm-destacados {
  max-width: 130px;
  max-height: 130px;
  overflow: hidden;
}

.post-thumb-sm-destacados img {
  width: 100%;
  height: auto;
}

.post-thumb-sm-directorio {
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
}

.tag-list li a {
  display: block;
  background: #f4f4f4;
  padding: 2px 5px;
  color: #001c27;
}

.tag-list li a:hover {
  color: #00ccb9;
}

.img-logo {
  width: 200px;
}

.h250 {
  max-height: 250px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.maxw {
    max-width: 100%;
}

.w90 {
  max-width: 90%;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

.section {
  padding-top: 45px;
  padding-bottom: 45px;
} 

.astyle {
  color: #00ccb9;
  font-size: 50px;
  font-family: "hanskendrick";
  font-weight: 600;
  line-height: 1.2;
}

.pad-title {
  padding-top: 40px;
  padding-bottom: 20px;
}

.wrap {
  float: left; 
  margin: 15px;
 }

 .w-60 {
  width: 60%;
 }

 .w-40 {
  width: 40%;
 }

 .carousel-control-prev {
  opacity: 1;
  width: 0%;
  left: -10px;
 }

 .carousel-control-next {
  opacity: 1;
  width: 0%;
  right: -10px;
 }

.image-holder {
  float: left; 
  margin-right: 15px;
  margin-bottom: 1px;
}

.image-holder .img-caption {
  text-align: left;
  font-weight: bold;
  width: 100%;
  left: 0px;
}

.custom-card-overlay {
  position: absolute;
  left: 0;
}

.custom-card-overlay .card-content {
   background-color: rgba(0,0,0,0.35);
}

.card-separation {
  margin-bottom: 20px; 
  border: 0.5px solid #cfcfcf;
}

.letter-title {
  text-align: left;
  margin-bottom: 20px;
}

#seccionDestacados {
  display: none;
}

#seccionNoDestacados {
  display: none;
}

#seccionDestacadosEstados {
  display: none;
}

#seccionNoDestacadosEstados {
  display: none;
}

#seccionNoDestacadosRegion {
  display: none;
}

#seccionDestacadosRegion {
  display: none;
}

#seccionEntradasRegion {
  display: none;
}

#seccionEntradasEstados {
  display: none;
}

.position-card {
  position: relative;
}

.tab-card{
  display: flex;
}

.tab-card-1{
  flex-grow: 1;
}

.tab-pane-card{
  margin-left: 20px; margin-right: 20px;
}

.img-card{
  width: 130px; height: auto;
}

.img-card-no-destacadas{
  width: 120px; height: auto;
}

.smaller-font {
  font-size: 16px; 
}

.margin-services{
  margin-top: 8px;
}

.margin-img-card{
  width: 100px; height: auto;
}

.line-break {
  content: "";
  display: block;
  margin-top: 1em;
}

.tab-card-1 div:first-child {
  font-size: 19px;
  font-weight: bold;
}

.text-title-left{
  margin-left: 35px;
}

.font-phone-number {
  font-weight: normal;
  font-size: 17px;
}

.fas.fa-map-marker-alt {
  color: #03b6a4;
}

.fas.fa-bullhorn {
  color: #03b6a4;
}

.fas.fa-industry {
  color: #03b6a4;
}

.fas.fa-building {
  color: #03b6a4;
}

.fas.fa-list {
  color: #03b6a4;
}

.fas.fa-phone {
  color: #03b6a4;
}

.fas.fa-comments {
  color: #03b6a4;
}

.fas.fa-hiking{
  color: #03b6a4;
}

.fas.fa-map{
  color: #03b6a4;
}

.fas.fa-suitcase{
  color: #03b6a4;
}

.fas.fa-globe-americas{
  color: #03b6a4;
}

.fas.fa-exclamation-circle{
  color: #03b6a4;
}

.fas.fa-calendar-check{
  color: #03b6a4;
}

.fas.fa-car{
  color: #03b6a4;
}

.fas.fa-plane-departure{
  color: #03b6a4;
}

.fas.fa-plane{
  color: #03b6a4;
}

.fas.fa-globe-europe{
  color: #03b6a4;
}

.fas.fa-flag{
  color: #03b6a4;
}

.fas.fa-globe {
  color: #03b6a4;
}

.fab.fa-facebook-square {
  color: #03b6a4;
}

.fab.fa-instagram {
  color: #03b6a4;
}

.fab.fa-twitter {
  color: #03b6a4;
}

.fas.fa-bed {
  color: #03b6a4;
}

.fas {
  color: #03b6a4;
}

.no-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.margin-icon {
  margin-left: 2px;
}

.margin-icon-search {
  margin-left: 4px;
}

#g-recaptcha-response {
  display: block !important;
  position: absolute;
  margin: -50px 0 0 0 !important;
  z-index: -999999;
  opacity: 0;
}

.recaptcha-none{
  display:none;
}

.horizontal-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.horizontal-list li {
  margin-right: 20px; 
}

.tooltip-inner {
  background-color: #00ccb9 !important;
  opacity: 1 !important;
}

.tooltip.bs-tooltip-top .arrow::before {
  border-top-color: #00ccb9;
}

.marquee-container {
  width: 100%; 
  height: 2.9%;
  overflow: hidden;
  background-color: #00ccb9;
}

.marquee-content {
  display: inline-block;
  height: 150%;
  white-space: nowrap;
  font-weight: bold;
  color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a,
.pagination span {
  display: inline-block;
  padding: 8px 12px;
  margin: 0 5px;
  color: #000;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.pagination a:hover {
  background-color: #eee;
}

.pagination .current-page {
  background-color: #00ccb9;
  color: #fff;
}

.pagination .previous,
.pagination .next {
  font-weight: bold;
}

.pagination .previous {
  margin-right: 10px;
}

.pagination .next {
  margin-left: 10px;
}

.circle-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-button i{
  color: #03b6a4;
}

.circle-button:focus {
  outline: none;
}

.circle-button:hover {
  background-color: #7debe0;
}

.custom-table{
  background-color: #51ddcf;
  font-size: 20px; 
}

.centered-cell {
  text-align: center;
  vertical-align: middle;
}

.derecha-cell {
  text-align: right;
}

.custom-button {
  background-color: #7debe0; 
  color: #000; 
}

.bottom-modal {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.margin-bottom-share{
  margin-bottom: 10px;
}

th.descripcion {
  width: 200px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.message-center {
  display: flex; 
  justify-content: center;
}

.message-margin {
  padding: 30px;
}

.message-content {
  background-color: #d5faf6; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.boletin-content {
  background-color: #d5faf6; 
}

.custom-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.airline-band {
  border-right: 2px solid #3498db !important;
}

.hotel-band {
  border-right: 2px solid #e74c3c !important;
}

.operators-band {
  border-right: 2px solid #2ecc71 !important;
}

.wholesale-band {
  border-right: 2px solid #2ecc71 !important;
}

.agencies-band {
  border-right: 2px solid #f39c12 !important;
}
