---
layout: default
---

<!-- page-title -->
<section class="section bg-secondary">
  <div class="row">
    <div class="col-lg-12 text-title-left">
      <h2 class="mb-4">{{ site.data.sections[page.title].title  | escape }}</h2>
    </div>
  </div>
</section>
<!-- /page-title -->

<!-- category post -->
<section>
  <div class="container maxw mb-4">
    <div class="row">
      <div class="col-lg-9">
        <div class="row">
          {% for post in page.posts %}
          <div class="col-lg-4 col-sm-6">
            <article class="text-center">
              <img class="img-fluid mb-4" src="{{post.image | relative_url }}" alt="{{post.title}}">
              {% for category in post.categories %}
              {% assign section = site.data.sections[category] %}
              <a class="d-block mb-3 text-dark text-uppercase" href="{{ '/' | relative_url }}{{ category | slugify }}">{{ section.title }}</a>
              {% endfor %}
              <h4 class="title-border"><a class="text-dark" href="{{ post.url | relative_url }}">{{post.title}}</a></h4>
              <p>{{ post.content | strip_html | truncatewords: 35 }}</p>
              <a href="{{ post.url | relative_url }}" class="btn btn-transparent">Ver más...</a>
            </article>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- /blog post -->
      <div class="col-lg-3">
        {% 
          include ads/banner.html 
          content=site.data.ads.category-0 
        %}
        {% assign contendorId = "destacados-container-1"%}
        {% include destacado.html contendorId=contendorId %}
        {% 
          include ads/banner.html 
          content=site.data.ads.category-1  
        %}
        {% include recientes.html %}
        {% 
          include ads/banner.html 
          content=site.data.ads.category-2
        %}
        {% assign contendorId = "destacados-container-2"%}
        {% include destacado.html contendorId=contendorId %}
        {% 
          include ads/banner.html 
          content=site.data.ads.category-3
        %}
        {% include secciones.html %}
        {% 
          include ads/banner.html 
          content=site.data.ads.category-4
        %}
        {% assign contendorId = "destacados-container-3"%}
        {% include destacado.html contendorId=contendorId %}
        {% 
          include ads/banner.html 
          content=site.data.ads.category-5
        %}
      </div> 
    </div>
  </div>
</section>
<!-- /category post -->