---
layout: default
---

{% 
	include ads/posts-banner.html 
%}

<!-- page-title -->
<section class="section bg-secondary pad-title">
	<div class="container maxw">
		<div class="row">
			<div class="col-lg-12">
				<h4>{{ page.title | escape }}</h4>
			</div>
		</div>
	</div>
</section>
<!-- /page-title -->

<!-- blog single -->
<section>
	<div class="container maxw">
		<div class="row">
			<div class="col-lg-9">
				<ul class="list-inline d-flex justify-content-between py-3 margin-left-date-share">
					<div class="d-flex align-items-center">
						<div class="margin-author-share">
							<i class="ti-user mr-2"></i>Por {{ page.author }}
						</div>
					</div>
					<li class="list-inline-item"><i class="ti-calendar mr-2"></i>{{page.date | date: '%d %b, %Y'}}</li>
				</ul>
				<div class="d-flex align-items-center margin-bottom-share">
				<botton class="share-button">
					<i class="fas fa-share-alt share-margin-icon"></i>
					<div class="share-options" id="shareOptions">
						<ul>
							{% assign mensaje = "Publicado en boardingpass.network"%}
							<b>Compartir</b>
							<br><br>
							<li><a href="{{ page.url | prepend: site.url }}" id="linkText" onclick="copyLink(); return false;">
								<div class="circle-icon">
								  <i class="ti-link"></i>
								</div>
								Copiar enlace</a>
							  </li>
							<li><a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url }}" target="_blank">
								<div class="circle-icon">
									<i class="ti-facebook"></i>
								</div>
								Facebook</a>
							</li>
							<li><a href="https://twitter.com/intent/tweet?url={{ page.url | prepend: site.url }}&amp;text={{ mensaje }}" target="_blank">
								<div class="circle-icon">
									<i class="ti-twitter-alt"></i>
								</div>
								Twitter</a>
							</li>
							<li><a href="whatsapp://send?text={{ page.url | prepend: site.url }}%0A%0A{{ mensaje }}" target="_blank">
								<div class="circle-icon">
									<i class="fab fa-whatsapp fa-4x"></i>
								</div>
								WhatsApp</a>
							</li>
							<li><a href="mailto:?body={{ mensaje }}%0A%0A{{ page.url | prepend: site.url }}">
								<div class="circle-icon">
									<i class="ti-email"></i>
								</div>
								Email</a>
							</li>
						</ul>
					</div>
					Compartir
				</botton>
				<li class="list-inline-item margin-left-date-share margin-volume-left">
					{% if page.audio %}
					<button id="playButtonPost" class="circle-button margin-circle" onclick="togglePlaybackPost()">
						<i id="playIconPost" class="fas fa-volume-mute"></i>
					</button>
					{% else %}
					<button onclick="toggleSpeech()" class="circle-button margin-circle">
						<i id="speechIcon" class="fas fa-volume-mute"></i>
					</button></li>
					{% endif %}
				</div>
				{% if page.image %}
				<div class="image-holder">					
					<div>
						<img src="{{page.image | relative_url}}" alt="{{page.title}}" class="img-fluid">
						{% if page.image-text %}
						<div class="img-caption">{{ page.image-text }}</div>
						{% endif %}
					</div>
				</div>
			 	{% endif %}
				<div class="content" id="id">
					<article>
						{{ content }}
					</article>
				</div>
				<div class="row message-center">
					<div class="col-lg-9 message-margin">
						<div class="container maxw message-content">
							<div class="content pl-0">
								<p>
									<h4>Únete a nuestro grupo de WhatsApp</h4>
									<br>
									En nuestro grupo exclusivo, recibirás información sobre destinos increíbles, consejos de viaje, recomendaciones de hoteles y restaurantes, historias de viajeros, promociones especiales y mucho más. Serás el primero en enterarte de nuestros próximos tours y actividades emocionantes.
									Si eres un amante de los viajes y quieres estar al día con las últimas novedades y oportunidades, ¡no pierdas la oportunidad de unirte a nuestro grupo!
									<br><br>
									<div class="button-container">
										<a class="btn btn-primary" href="https://chat.whatsapp.com/{{ site.whatsapp-group-code }}" target="_blank">Quiero unirme</a>
									<br><br></div>
									Esperamos verte pronto en nuestro grupo de viajes y turismo. <span class="font-weight-bold">¡Explora el mundo con nosotros!</span>
								</p>
							</div>
						</div>
					</div>
				</div>
				{% if site.disqus-identifier %}
				{% include disqus-comments.html %}
				{% endif %}
			</div>
			<div class="col-lg-3">
				{% 
					include ads/banner.html 
					content=site.data.ads.post-0
				%}
				{% assign contendorId = "destacados-container-1"%}
        		{% include destacado.html contendorId=contendorId %}
				{% 
				  include ads/banner.html 
				  content=site.data.ads.post-1  
				%}
				{% include recientes.html %}
				{% 
				  include ads/banner.html 
				  content=site.data.ads.post-2
				%}
				{% assign contendorId = "destacados-container-2"%}
        		{% include destacado.html contendorId=contendorId %}
				{% 
					include ads/banner.html 
					content=site.data.ads.post-3
				%}
				{% include secciones.html %}
				{% 
				  include ads/banner.html 
				  content=site.data.ads.post-4
				%}
				{% assign contendorId = "destacados-container-3"%}
        		{% include destacado.html contendorId=contendorId %}
				{% 
					include ads/banner.html 
					content=site.data.ads.post-5
				%}
				{% include feed-twitter.html %}
			  </div> 
		</div>
	</div>
</section>
 <!-- Ventana modal -->
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle">Enlace Copiado</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>El enlace ha sido copiado al portapapeles.</p>
        </div>
      </div>
    </div>
  </div>
<!-- /blog single -->
<script src="{{ site.baseurl }}/assets/plugins/howler/howler.min.js"></script>
<script>
	document.querySelector('.share-button').addEventListener('click', function() {
		var shareOptions = document.querySelector('.share-options');
		if (shareOptions.style.display === 'none' || shareOptions.style.display === '') {
			shareOptions.style.display = 'block';
		} else {
			shareOptions.style.display = 'none';
		}
	});

	document.addEventListener('click', function(event) {
		var shareButton = document.querySelector('.share-button');
		var shareOptions = document.querySelector('.share-options');
		var isClickInsideShareButton = shareButton.contains(event.target);
		var isClickInsideShareOptions = shareOptions.contains(event.target);
		var isShareOptionsVisible = shareOptions.style.display === 'block';
		if (!isClickInsideShareButton && !isClickInsideShareOptions && isShareOptionsVisible) {
			shareOptions.style.display = 'none';
		}
	});
	
	var isSpeaking = false;
	var speechUtterance = null;

	function toggleSpeech() {
		if (isSpeaking) {
			responsiveVoice.pause();
			isSpeaking = false;
		} else {
			if (speechUtterance !== null) {
			responsiveVoice.resume();
			} else {
			var articleElement = document.querySelector('article');
			var textToSpeak = articleElement.innerText;
			speechUtterance = responsiveVoice.speak(textToSpeak, 'Spanish Female', { rate: 1, onend: handleSpeechEnd });
			}
			isSpeaking = true;
		}
		
		updateButtonState();
	}

	function handleSpeechEnd() {
		speechUtterance = null;
		isSpeaking = false;
		updateButtonState();
	}

	function updateButtonState() {
		var speechIcon = document.getElementById('speechIcon');
		
		if (isSpeaking) {
			speechIcon.classList.remove('fa-volume-mute');
			speechIcon.classList.add('fa-volume-up');
		} else {
			speechIcon.classList.remove('fa-volume-up');
			speechIcon.classList.add('fa-volume-mute');
		}
	}
	function copyLink() {
      var linkText = document.getElementById("linkText");
      var tempInput = document.createElement("input");
      tempInput.value = linkText.href;
      document.body.appendChild(tempInput);
      tempInput.select();
      document.execCommand("copy");
      document.body.removeChild(tempInput);
      var modal = $("#myModal");
      modal.addClass("bottom-modal"); 
      modal.modal("show");

      setTimeout(function() {
        modal.modal("hide"); 
      }, 1000);
    }

	var sound_post = new Howl({
      src: ['{{ page.audio | prepend: site.url }}'],
      loop: true
    });

    var isPlayingPost = false;

    function togglePlaybackPost() {
      var playIconPost = document.getElementById('playIconPost');

      if (isPlayingPost) {
        sound_post.pause();
        isPlayingPost = false;
        playIconPost.classList.remove('fa-volume-up');
        playIconPost.classList.add('fa-volume-mute');
      } else {
        sound_post.play();
        isPlayingPost = true;
        playIconPost.classList.remove('fa-volume-mute');
        playIconPost.classList.add('fa-volume-up');
      }
    }
</script>
