<div class="container maxw">
 <div class="row">
  <div class="col-md-12 col-sm-12 my-4">
   {% assign event = {{include.content.event}} %}
   {% if event %}
   <a href="{{include.content.url}}/"><img src="{{include.content.image | relative_url}}" alt="{{include.content.alt}}"
    class="img-fluid center banner" onclick="registerEvent('{{ event }}');" onload="registerView('{{include.content.view}}');"></a>
   {% else %}
   <a href="{{include.content.url}}/"><img src="{{include.content.image | relative_url}}" alt="{{include.content.alt}}"
     class="img-fluid center banner"></a>
   {% endif %}
  </div>
 </div>
</div>

<script>
  function registerEvent(event) {
    gtag('event', event, {
      'event_category': 'Ads',
      'event_label': event
    });
  }

  function registerView(view) {
    gtag('event', view, {
      'event_category': 'Ads_view',
      'event_label': view
    });
  }
</script>